/* Eléments principaux de la page */
html{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding:0;
}

#bloc_page
{
    width: 1000px;
    margin: auto;
}

.cote{
    display: flex;  
    justify-content: space-around;   
}

/* Header */
header
{
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 10px;
    height: 5px;
}

/* Navigation */

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 15px;
}

nav a
{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: rgb(0, 153, 255);
    border-top: 3px solid rgb(0, 153, 255);
}

/* HEBERGEMENTS A MARSEILLE*/

.hébergements{ 
    padding: 10px;
    background: #DCDCDC;
    border-radius: 20px 20px 20px 20px; 
    width: 100%; 
    height: 30%;  
    margin-right: 50px;
}

.hébergements h2{
    margin: 0;
}

.image-container{
    width: auto;
    height: 130px;
}

.hébergements img{
    width: 100%; 
    height: 100%;  
    border-radius: 20px 20px 0px 0px; 
}
.cadre{
    display: flex;
    flex-wrap: wrap;      
    width: auto; 
    background:chartreuse;
    justify-content: space-between;
}

.chambre{
    background:white;
    width: 200px;
    border-radius: 20px; 
    margin-bottom: 25px;
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);  
    padding: 5px;  
}

.texte{
    margin-left: 5px;
    line-height: 5px;
}


/* <!--  BLOC LES PLUS POPULAIRES--> */



.populaires{  
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 5px;
    padding-bottom: 20px;
    background: #DCDCDC;
    border-radius: 20px 20px 20px 20px; 
    max-width: 300px;   
}

.populaires img{
    width: 140px;
    height: 130px; 
    padding-right: 5px;  
    border-radius: 20px 0px 0px 20px;  
    float: left; 
}



/* ACTIVITES A MARSEILLE */

.activité{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    justify-content: space-between;
}

#activité_cadre1{ 
    background: url('reservia/images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg');
    position:relative;
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5); 
    width: 23%;
    height: 325px;
    border-radius: 20px 20px 20px 20px;      
}

#activité_cadre2{ 
    background: url('reservia/images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg');
    position:relative;
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5); 
    width: 23%;
    height: 200px;
    border-radius: 20px 20px 20px 20px;      
}

#activité_cadre3{ 
    background: url('reservia/images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg');
    position:relative;
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5); 
    width: 23%;
    height: 100px;
    border-radius: 20px 20px 20px 20px;      
}

#activité_cadre4{ 
    background: url('reservia/images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg');
    position:relative;
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5); 
    width: 23%;
    height: 325px;
    border-radius: 20px 20px 20px 20px;      
}

#activité_cadre5{ 
    background: url('reservia/images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg');
    position:relative;
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5); 
    width: 23%;
    height: 160px;
    border-radius: 20px 20px 20px 20px;      
}

#activité_cadre6{ 
    background: url('reservia/images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg');
    position:relative;
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5); 
    width: 23%;
    height: 160px;
    border-radius: 20px 20px 20px 20px;      
}



#activité_description{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color:white;
    color: black;
    border-radius: 0px 0px 20px 20px; 
    
}



/* MEDIA */

@media all and (max-width: 1024px)
{
    #bloc_page
    {
        width: auto;
    }
    nav
    {
        width: auto;
        text-align: left;
    }
    .cote{
        display: flex;
        flex-wrap: wrap-reverse;
    }
}


