/* Eléments principaux de la page */
html,body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding:0;
}

#bloc_page
{
    margin: 45px;
}

.cote{
    display: flex;  
    justify-content: space-around;   
}

/* Header */
header
{
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 10px;
    height: 5px;
}

/* Navigation */

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 15px;
}

nav a
{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
    padding-top: 55px;
}

nav a:hover
{
    color: rgb(38, 132, 240);
    border-top: 3px solid rgb(38, 132, 240); 
}

/* RECHERCHE */

.recherche button{
    color: white;
    background: rgb(38, 132, 240);
    border-radius: 0 10px 10px 0;
    padding: 10px;
    border: none;
    width: 100px;
}

.recherche i{
    background: rgb(240, 240, 240, 0.678);
    border-radius: 10px 0 0 10px;
    padding: 10px;
    padding-bottom: 11px;
    padding-top: 7px;
}

.recherche input{
    padding: 7px;    
}


/* FILTRES */
.filtres-1 ul{
    display: flex;
    list-style: none;
}

.filtres-1 li{
    margin-right: 50px;
    border: 1px rgb(240, 240, 240, 0.678) solid;
    border-radius: 40px;
    padding-right: 20px; 
}

.filtres-1 li i{
    color: rgb(38, 132, 240);
    background: rgb(234, 249, 255);
    border-radius: 40px;
    padding: 10px;  
}

/* HEBERGEMENTS A MARSEILLE*/

.hébergements{ 
    padding: 30px;
    background: rgba(240, 240, 240, 0.678);
    border-radius: 20px 20px 20px 20px; 
    height: 20%;  
    margin-right: 20px; 
}

.hébergements h2{
    margin: 0;
}

.image-container{
    width: auto;
    height: 100px;
}

.hébergements img{
    width: 100%; 
    height: 100%;  
    border-radius: 20px 20px 0px 0px;
}
.cadre{
    display: flex;
    flex-wrap: wrap;      
    width: auto; 
    justify-content: space-around;
}

.chambre{
    background:white;
    width: 200px;
    border-radius: 20px; 
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);  
    padding: 5px;  
    margin: 10px;
}

.texte{
    margin-left: 5px;
    line-height: 1px;
}


/* <!--  BLOC LES PLUS POPULAIRES--> */

.populaires{  
    padding: 10px;
    background: rgba(240, 240, 240, 0.678);
    border-radius: 20px 20px 20px 20px; 
    max-width: 500px;   
}

.cadre_populaire{
    background:white;
    width: 300px;
    border-radius: 20px; 
    margin-bottom: 25px;
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);  
    padding: 5px;  
    height: 100px;
}

.populaires img{
    width: 100px;
    height: 100px; 
    padding-right: 5px;  
    border-radius: 20px 0px 0px 20px;
    float: left; 
}

.texte_populaire{
    line-height: 15px;
}



/* ACTIVITES A MARSEILLE */

.activités{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.texte_activité{
    margin-left: 10px;
    line-height: 1px;
}

.groupe1{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.groupe2{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.port{
    background:white;
    width: 230px;
    height: 350px;
    border-radius: 20px; 
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);  
}

.port img{
    width: 100%;
    height: 90%;
    border-radius: 20px 20px 0 0;
}

.fort{
    background:white;
    width: 230px;
    height: 190px;
    border-radius: 20px; 
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);  
}

.fort img{
    width: 100%;
    height: 80%;
    border-radius: 20px 20px 0 0;
}

.iles{
    background:white;
    width: 230px;
    height: 130px;
    border-radius: 20px; 
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);  
}

.iles img{
    width: 100%;
    height: 72%;
    border-radius: 20px 20px 0 0;
}

.parc{
    background:white;
    width: 230px;
    height: 350px;
    border-radius: 20px; 
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);  
}

.parc img{
    width: 100%;
    height: 89%;
    border-radius: 20px 20px 0 0;
}

.garde{
    background:white;
    width: 230px;
    height: 160px;
    border-radius: 20px; 
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);  
}

.garde img{
    width: 100%;
    height: 75%;
    border-radius: 20px 20px 0 0;
}

.longchamp{
    background:white;
    width: 230px;
    height: 160px;
    border-radius: 20px; 
    box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);  
}

.longchamp img{
    width: 100%;
    height: 75%;
    border-radius: 20px 20px 0 0;
}


/* FOOTER */

.footer{
    display: flex;
    background: rgba(240, 240, 240, 0.678);
    padding: 30px;
    
}

.footer ul{   
    list-style-type: none;
    min-height: 25px;
}

.footer li{   
    margin-right: 150px;
    min-height: 25px;
    padding-top: 5px;
}

.footer a{
    text-decoration: none;
    color: #181818;
}



/* MEDIA */

@media all and (max-width: 1024px)
{
    #bloc_page
    {
        width: auto;
    }
    nav
    {
        width: auto;
        text-align: left;
    }
    .cote{
        display: flex;
        flex-wrap: wrap-reverse;
    }
}


